<div class="alert alert-primary" role="alert" style="text-align: center; margin-top: 1%;">
  <h2>You're seeing this page due to exceeding the rate limit or daily query quota of API.</h2>
  <h4>Please try again later.</h4>
</div>
<%= image_tag "Quotefancy-3005590-3840x2160.jpg" %>
<%=link_to "Back to Home", root_path, class: "btn btn-primary" %>
<%= link_to 'Back', blogs_path(category: params[:category]), class: "btn btn-secondary" %>