<% @available_keyword.each do |keyword| %>
    <span id="category", class="badge text-bg-light"><%= link_to keyword, blog_path(keyword)%></span>
<% end %>

<section class="content">
    <% @blogs.each do |blog| %>
        <div class="card" style="width: 28rem;">
        <% if blog["multimedia"].present? %>
            <% preferred_image = blog["multimedia"].find { |img| img["format"] == "Super Jumbo" } || blog["multimedia"].last %>
            <%= image_tag(preferred_image["url"], alt: preferred_image["caption"], class: "responsive-img") %>
        <% else %>
            <h1>No result</h1>
        <% end %>
            <div class="card-body">
                <h5 class="card-title"><%= blog["title"]%></h5>
                <p class="card-text"><%= blog["abstract"] %></p>
                <a href="#" class="btn btn-primary">Read</a>
            </div>
        </div>   
    <% end %>
</section>
