.resume {
    padding: 5% 25%;
}

.title {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.name {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}

.contact1 {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    border-bottom: solid 1px black;
}

.experience {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1500px) {
    body {
        background-image: none;
    }
    .resume {
        padding: 5% 2%;
    }
}
