<span style="font-size: 16px; font-weight: bold; color: #333;">
  Hi, here's my resume and transcripts for your reference. It will expire in 24 hours. Look forward to hearing from you!<br>
</span>
<%= image_tag raw(@signed_url_resume), style: "width: 100%; max-width: 800px; margin: 0 auto;" %>
<%= image_tag raw(@signed_url_transcript1), style: "width: 100%; max-width: 800px; margin: 0 auto;" %>
<%= image_tag raw(@signed_url_transcript2), style: "width: 100%; max-width: 800px; margin: 0 auto;" %>