/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap/functions";
@import "bootstrap/variables";


@import "bootstrap";
a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    width: auto;
    border-bottom: 1px solid rgb(120, 123, 134);
}

.catalog {
    font-family: "Permanent Marker", serif;
    font-weight: 700;
    font-size: larger;
    justify-content: center;
}

#header_option {
    padding: 0px 20px;
    transition: padding 0.3s, font-size 0.3s;
}

#header_option:hover {
    font-size: larger;
    padding: 0px 25px 7px 25px;
}

#logo {
    justify-content: left;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;

    margin-left: 60px;
}

button {
    cursor: pointer;
    justify-content: right;
    border-color: black;
    border-width: 1px;
    padding: 10px 25px;
    border-radius: 0px;
    background-color: transparent;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    transform: scale(0.98);
}

button:active {
    transform: scale(0.9);
}

.contact {
    margin-right: 60px;
}

.contact:hover {
    background-color: black;
    color: white;
}

.contact:active {
    background-color: white;
    color: black;
}